@import './fonts/fonts.scss';

// colors
$text: #58595b;
$title: #fe7e5b;
$background1: #ffb190;
$background2: #58595b;

// fonts
$SofiaBoldItalic: 'SofiaBoldItalic';
$SofiaBold: 'SofiaBold';
$SofiaMedium: 'SofiaMedium';
$SofiaExtraBoldItalic: 'SofiaExtraBoldItalic';
$SofiaRegular: 'SofiaRegular';
$SofiaMediumItalic: 'SofiaMediumItalic';
$SofiaItalic: 'SofiaItalic';
