@import '../../../constants.scss';

div.gallery-wrapper {
	div.container {
		div.row {
			div.col {
				h2 {
					color: $text;
					font-family: $SofiaBold;
					font-size: 32px;
					line-height: 39px;
					text-transform: uppercase;
					position: relative;
					box-sizing: border-box;
					letter-spacing: 0px;
					text-align: center;
					padding-bottom: 32px;
					&::after {
						content: '';
						position: absolute;
						display: block;
						height: 2px;
						width: 55%;
						background-color: $text;
						right: 20px;
					}
				}
				div.react-multi-carousel-list {
					height: 260px;
					padding-bottom: 70px;
					box-sizing: content-box;
					ul {
						height: 100%;
						li {
							height: 100%;
							padding: 0 20px;
							div {
								height: 100%;
								background-size: 100% auto;
								background-repeat: no-repeat;
								background-position: center;
							}
						}
					}
					button {
						bottom: 15px;
						border: none;
						background-repeat: no-repeat;
						background-color: #fff;
						background-size: contain;
						background-position: center;
						cursor: pointer;
						width: 36px;
						height: 36px;
						z-index: 20;
						&::before {
							display: none;
						}
					}
					button[class*='left'] {
						left: calc(50% - 50px);
						background-image: url('../../../../public/left.svg');
					}
					button[class*='right'] {
						right: calc(50% - 50px);
						background-image: url('../../../../public/right.svg');
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1024px) {
	div.gallery-wrapper {
		div.container {
			div.row {
				div.col {
					h2 {
						font-size: 24px;
						line-height: 29px;
						&::after {
							width: 80%;
							position: absolute;
							margin: 0 auto;
							left: 0;
							right: 0;
						}
					}
				}
			}
		}
	}
}
